@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .font-mono-system {
        font-family: 'JetBrains Mono', monospace;
    }
}